.app-icon-add {
  width: 80px;
  /* opacity: 0; */
  /* transform: translate(0%, -400%) matrix(1, 0, 0, 1, -28.75, -8); */
}

@media only screen and (max-width: 600px) {
  .app-icon-add {
    height: 60px;
  }
  .app-task-container {
    width: 90%;
  }
}

.app-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.app-task-container {
  width: 800px;
  background-color: antiquewhite;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  margin-top: 30px;
  /* width: 90%; */
}

.app-list {
  min-height: 300px;
  background-color: #ffeceb;
  border-radius: 10px;
  margin-bottom: 0;
  margin-top: 0;
  border: 1px dashed #cbc7c7;
  list-style-type: none;
  border-radius: 10px;
  padding: 0 15px;
  /* margin-top: 10px; */
}

.app-task-container-input-button {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .app-task-container-input-button {
    margin-top: 10px;
  }
}

.app-icon-done {
  display: flex;
  align-items: center;
  /* position: absolute; */
  /* margin-top: 10px; */
}
.app-img-done {
  height: 60px;
}

.app-icon-to-do {
  display: flex;
  align-items: center;
}
.app-img-to-do {
  height: 60px;
}

@media only screen and (max-width: 600px) {
  .app-img-to-do,
  .app-img-done {
    height: 45px;
  }
}

.app-icon-trash-all {
  height: 60px;
}

@media only screen and (max-width: 600px) {
  .app-icon-trash-all {
    height: 50px;
  }
}
.app-icon-trash-all-contanier {
  display: flex;
  justify-content: flex-end;
  /* margin-top: 10px; */
}

/* @media only screen and (max-width: 600px) {
  .app-name-label-to-do,
  .app-name-label-done {
    font-size: 20px;
  }
} */

.app-name-label-to-do,
.app-name-label-done {
  margin-left: 10px;
}
.app-list-done {
  min-height: 300px;
  background-color: #ffeceb;
  border-radius: 10px;
  margin-bottom: 0;
  margin-top: 0;
  border: 1px dashed #cbc7c7;
  list-style-type: none;
  border-radius: 10px;
  padding: 0 15px;
  /* margin-top: 10px; */
}

.app-done-header {
  display: flex;
  justify-content: space-between;
}
