:root {
  --modal-bg: linear-gradient(90deg, rgb(253, 228, 207) 0%, rgb(255, 207, 210) 16%, rgb(255, 207, 210) 70%, rgb(241, 192, 232) 100%);
}

.chakra-modal__body {
  background-image: var(--modal-bg);
}

.chakra-modal__header {
  background-image: var(--modal-bg);
  text-align: center;
}

.chakra-modal__footer {
  background-image: var(--modal-bg);
  display: flex;
  flex-direction: column;
  /* width: 100% */
}

.chakra-modal__content {
  border: 2px solid #000000 !important;
}
