body {
  background-color: #ffeceb;
  background-image: url("https://www.transparenttextures.com/patterns/mirrored-squares.png");
  font-family: monospace !important;
  font-size: 22px;
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
  .app-task-container {
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
