body {
  background-color: #ffeceb;
  background-image: url("https://www.transparenttextures.com/patterns/mirrored-squares.png");
  font-family: monospace;
  font-size: 22px;
}
@media only screen and (max-width: 600px) {
  body {
    padding: 30px;
    font-size: 16px;
  }
}
